<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <title>Weather</title>
    </head>
    <body>
        <div class = "main-content">
            {{>header}}

            <p>Use this to get weather!</p>

            <form>
                <input type="text" name="address" placeholder="Address">
                <button>Search</button>
            </form>
            <button id="myLocation">My Location Forecast</button>

            <p id = 'message-1'></p>
            <p id = 'message-2'></p>
        </div>
        {{>footer}}
    <script src="/js/script.js"></script>
    </body>
</html>